{% extends 'base.html.twig' %}
{% block title %}BackOffice{% endblock %}
{% block body %}
 <h1 class="display-4 text-center my-4">BACKOFFICE</h1>
 <p class="text-center">Bienvenue sur votre BackOffice</p>
 <a href="" class="col-md-6 offset-md-3 btn btn-dark mb2">GESTION DES ARTICLES</a>
 <a href="" class="col-md-6 offset-md-3 btn btn-info mb2">GESTION DES CATEGORIES</a>
 <a href="" class="col-md-6 offset-md-3 btn btn-primary mb2">GESTION DES MEMBRES</a>
 <a href="" class="col-md-6 offset-md-3 btn btn-warning mb2">GESTION DES COMMENTAIRES</a>
{% endblock %}